<nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
        routerLink="users"
        routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 ripple"
      >
        <i class="fas fa-chart-area fa-fw me-3"></i><span>View Users</span>
      </a>
      <a [routerLink]="['manage-users']" routerLinkActive="active"
              class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Manage Users</span>
      </a>
    </div>
  </div>
</nav>